<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item ">
            <a>Bulan </a> : <a> {{ data.bulan }} </a>
        </li>
        <li class="list-group-item ">
            <a>Harga </a> : <a> {{ data.harga }} </a>
        </li>
        <li class="list-group-item ">
            <a>Produksi </a> : <a> {{ data.produksi }} </a>
        </li>
        <li class="list-group-item ">
            <a>Ketersediaan </a> : <a> {{ data.ketersediaan }} </a>
        </li>
        <li class="list-group-item ">
            <a>Permintaan </a> : <a> {{ data.permintaan }} </a>
        </li>
    </ul>
</body>
</html>