{% extends "base.html" %}
{% block content %}

<!-- page content -->
<div class="right_col">
    <div class="container">
        <br/>
        <legend>Detail Data Cabai Merah Bulan {{ datacbmerah.bulan }}</legend>
        <div class="content">
            <div class="form-group">
                <label for="bulan">Bulan</label>
                <h4>{{ datacbmerah.bulan }}</h4>
            </div>
            <br/>
            <div class="form-group">
                <label for="bulan">Tahun</label>
                <h4>{{ datacbmerah.tahun }}</h4>
            </div>
            <br/>
            <div class="form-group">
                <label for="harga">Harga</label>
                <h4>{{ datacbmerah.harga }}</h4>
            </div>
            <br/>
            <div class="form-group">
                <label for="produksi">Produksi (KW) </label>
                <h4>{{ datacbmerah.produksi }}</h4>
            </div>
            <br/>
            <div class="form-group">
                <label for="ketersediaan">Ketersediaan (TON) </label>
                <h4>{{ datacbmerah.ketersediaan }}</h4>
            </div>
            <br/>
            <div class="form-group">
                <label for="permintaan">Permintaan (TON) </label>
                <h4>{{ datacbmerah.permintaan }}</h4>
            </div>
        </div>

        <br/>
        <br/>
        <a href="{% url 'home:homeview_cbmerah' %}">
            <button type="button" class="btn btn-success">
                Kembali
            </button>
        </a>
    </div>
</div>
<!-- /page content -->

{% endblock %}
