{% extends "base.html" %}
{% block content %}

<!-- page content -->
<div class="right_col">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="container">
                <legend>Detail Data User</legend>
                <div class="content">
                    <div class="form-group">
                        <label>Username</label>
                        <h4>{{ profile.username }}</h4>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>First Name</label>
                        <h4>{{ profile.first_name }}</h4>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Last Name</label>
                        <h4>{{ profile.last_name }}</h4>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Email</label>
                        <h4>{{ profile.email }}</h4>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label>Status</label>
                        <h4>{{ profile.status }}</h4>
                    </div>
                </div>

                <br/>
                <br/>
                <a href="{% url 'home:data-user' %}">
                    <button type="button" class="btn btn-success">
                        Kembali
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}
