{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">

        <div class="x_content"></div>
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="{% url 'home:data_cbrawit' %}" id="home-tab" role="tab" aria-expanded="true">Data</a>
                    </li>
                    {% if request.session.status == '1' %}
                    <li role="presentation" class=""><a href="{% url 'home:normalisasi_cbrawit' %}" role="tab" id="profile-tab" aria-expanded="false">Parameter</a>
                    </li>
                    <li role="presentation" class=""><a href="{% url 'home:training_cbrawit' %}" role="tab" id="profile-tab2" aria-expanded="false">Proses Training</a>
                    </li>
                    <li role="presentation" class=""><a href="{% url 'home:testing_cbrawit' %}" role="tab" id="profile-tab2" aria-expanded="false">Proses Testing</a>
                    </li>
                    <li role="presentation" class=""><a href="{% url 'home:mse_cbrawit' %}" role="tab" id="profile-tab2" aria-expanded="false">Nilai MSE</a>
                    </li>
                    <li role="presentation" class=""><a href="{% url 'home:denormalisasi_cbrawit' %}" role="tab" id="profile-tab2" aria-expanded="false">Denormalisasi</a>
                    </li>
                    {% endif %}
                    <li role="presentation" class=""><a href="{% url 'home:chart_cbrawit' %}" role="tab" id="profile-tab2" aria-expanded="false">Hasil Prediksi</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3><b>Proses Testing</b></h3>
                    <div class="clearfix"></div>
                </div>

                <form method="POST" novalidate>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info" id="btn_proses_testing">Proses</button>
                </form>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" id="div_proses_testing" style="display: {{ data.display }}">

            <div class="x_panel">
                <div class="x_title">
                    <h3><b>1. Menentukan hidden neuron, matriks bobot (weight) dan bias</b></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <h2><b>X-Testing</b></h2>
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="4%" style="text-align: center;">No</th>
                                    <th width="20%">Harga</th>
                                    <th width="20%">Produksi (KW)</th>
                                    <th width="20%">Ketersediaan (TON)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data_t in data.data_normalisasi_x %}
                                    <tr>
                                        <td align="center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ data_t.harga }}
                                        </td>
                                        <td>
                                            {{ data_t.produksi }}
                                        </td>
                                        <td>
                                            {{ data_t.ketersediaan }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <h2><b>Y-Testing</b></h2>
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="4%" style="text-align: center;">No</th>
                                    <th width="60%">Permintaan (TON)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data_t in data.data_normalisasi_y %}
                                    <tr>
                                        <td align="center">
                                            {{ forloop.counter }}
                                        </td>
                                        <td>
                                            {{ data_t.permintaan }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <h2><b>Bias</b></h2>
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align: center;"></th>
                                    {% with ''|center:data.hidden_neuron as range %}
                                    {% for i in range %}
                                        <th width="20%">{{ forloop.counter }}</th>
                                    {% endfor %}
                                    {% endwith %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="center">BIAS</td>
                                    {% for data_b in data.data_bias %}
                                    <td>
                                        {{ data_b }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <h2><b>W-Transpose</b></h2>
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align: center;"></th>
                                    {% with ''|center:data.hidden_neuron as range %}
                                    {% for i in range %}
                                        <th width="20%">{{ forloop.counter }}</th>
                                    {% endfor %}
                                    {% endwith %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for data_w in data.data_w_transpose %}
                                    <tr>
                                        <td>
                                            {% if forloop.counter == 1 %}
                                                Harga
                                            {% endif %}
                                            {% if forloop.counter == 2 %}
                                                Produksi (KW)
                                            {% endif %}
                                            {% if forloop.counter == 3 %}
                                                Ketersediaan (TON)
                                            {% endif %}
                                        </td>

                                        {% for data_x in data_w %}
                                        <td>
                                            {{ data_x }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h3><b>2. Menghitung H-init (Keluaran Hidden Layer)</b></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="10%" style="text-align: center;">H-INIT</th>
                                        {% with ''|center:data.hidden_neuron as range %}
                                        {% for i in range %}
                                            <th width="20%">{{ forloop.counter }}</th>
                                        {% endfor %}
                                        {% endwith %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_h in data.data_h_init %}
                                        <tr>
                                            <td align="center">
                                                {{ forloop.counter }}
                                            </td>
                                            {% for x in data_h %}
                                            <td>
                                                {{ x }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h3><b>3. Menghitung H-Eksponensial</b></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h2><b>H-Eksponensial</b></h2>
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="5%" style="text-align: center;"></th>
                                        {% with ''|center:data.hidden_neuron as range %}
                                        {% for i in range %}
                                            <th width="20%">{{ forloop.counter }}</th>
                                        {% endfor %}
                                        {% endwith %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_h in data.data_h_eks %}
                                        <tr>
                                            <td align="center">
                                                {{ forloop.counter }}
                                            </td>
                                            {% for x in data_h %}
                                            <td>
                                                {{ x }}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h3><b>4. Menghitung nilai Prediksi Y</b></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <h2><b>Prediksi Y</b></h2>
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="4%" style="text-align: center;">No</th>
                                        <th width="60%">Permintaan Cabai Rawit (TON)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_m in data.data_prediksi_y %}
                                        <tr>
                                            <td align="center">
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ data_m }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /page content -->
{% endblock %}
